<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807756216417-tactn0s9c9bkg0mquls9nk0tgqhnjtd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807756216417-tactn0s9c9bkg0mquls9nk0tgqhnjtd9</string>
	<key>API_KEY</key>
	<string>AIzaSyAHGm0CQ-NtKx4_F41_3E_Ozh9u1VbnLHo</string>
	<key>GCM_SENDER_ID</key>
	<string>807756216417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rosehulman.peterseo.Passwork-Keeper</string>
	<key>PROJECT_ID</key>
	<string>peterseo-password-keeper</string>
	<key>STORAGE_BUCKET</key>
	<string>peterseo-password-keeper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:807756216417:ios:2282a5a7d01e2ae6</string>
	<key>DATABASE_URL</key>
	<string>https://peterseo-password-keeper.firebaseio.com</string>
</dict>
</plist>